<!Doctype html>
{% load static %}
<html lang="en">
<head>
    <title>V-Store it</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6b2983e729.js" crossorigin="anonymous"></script>
</head>

<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }
</style>

<body>
<section class="">

    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">V-Store it!</a>
                <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#ftco-nav" data-toggle="collapse" type="button">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#profile">Profile Details</a></li>
                        <li class="nav-item"><a class="nav-link" href="#education">Educational Details</a></li>
                        <li class="nav-item"><a class="nav-link" href="#certificate">Certificates</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>

</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>


{% block content %}

<script>
var stateObject = {
"India": { "Delhi": ["new Delhi", "North Delhi"],
"Kerala": ["Thiruvananthapuram", "Palakkad"],
"Goa": ["North Goa", "South Goa"],
},

window.onload = function () {
var countySel = document.getElementById("countySel"),
stateSel = document.getElementById("stateSel"),
districtSel = document.getElementById("districtSel");
for (var country in stateObject) {
countySel.options[countySel.options.length] = new Option(country, country);
}
countySel.onchange = function () {
stateSel.length = 1; // remove all options bar first
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
for (var state in stateObject[this.value]) {
stateSel.options[stateSel.options.length] = new Option(state, state);
}
}
countySel.onchange(); // reset in case page is reloaded
stateSel.onchange = function () {
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
var district = stateObject[countySel.value][this.value];
for (var i = 0; i < district.length; i++) {
districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
}
}
}
</script>


<div class="container" id="profile">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Profile Details</h3>
                <hr>
                <div class="row mb-4">
                    <div class="col-5">

                    </div>
                    <div class="col">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="education">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Education Details</h3>
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <!-- Qualification Level input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="qua_level">Qualification Level</label>
                            <select class="form-control" id="qua_level">
                                <option value="0">--Select--</option>
                                <option value="1">F.Y.J.C.(11 Std)</option>
                                <option value="2">S.Y.J.C.(11 Std)</option>
                                <option value="3">Under Graduate Course</option>
                                <option value="4">Post Graduate Course</option>
                                <option value="5">S.S.C.(10 Std)</option>
                                <option value="6">Vocational Course</option>
                                <option value="7">Certificate Course</option>
                                <option value="8">Diploma Course</option>
                            </select>
                        </div>
                        <!-- Institute State input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="ins_state">Institute State</label>
                            <select class="form-control" id="ins_state">
                                <option value="0">--Select--</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <!-- College Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="school_name">College Name/School Name</label>
                            <input class="form-control" id="school_name" required type="text">
                        </div>
                        <!-- Mode input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="mode">Mode</label>
                            <select class="form-control" id="mode">
                                <option value="0">--Select--</option>
                                <option value="1">Regular</option>
                                <option value="2">Distance/Correspondence</option>
                            </select>
                        </div>
                        <!-- No. of attempts input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="attempts">Attempts</label>
                            <input class="form-control" id="attempts" required type="number">
                        </div>
                    </div>
                    <div class="col">
                        <!-- Stream input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="stream">Stream</label>
                            <select class="form-control" id="stream">
                                <option value="0">--Select--</option>
                                <option value="1">SSC</option>
                                <option value="2">Science</option>
                                <option value="2">Engineering</option>
                            </select>
                        </div>
                        <!-- Institute District input -->
                        <div class="form-outline mb-4">
                            <label for="district">Institute District</label>
                            <select class="form-control" id="district">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <!-- Course Name input -->
                        <div class="form-outline mb-4">
                            <label for="course_name">Institute District</label>
                            <select class="form-control" id="course_name">
                                <option value="0">--Select--</option>
                                <option value="1">S.S.C.(10 Std)</option>
                                <option value="1">H.S.C.(12 Std)</option>
                                <option value="1">Bachelor of Engineering(B.E.)-Biomedical Engineering(UnAided)</option>
                                <option value="2">Bachelor of Engineering(B.E.)-Computer Engineering(UnAided)</option>
                                <option value="3">Bachelor of Engineering(B.E.)-Electronics Engineering(UnAided)
                                </option>
                                <option value="4">Bachelor of Engineering(B.E.)-Information Technology(UnAided)</option>
                                <option value="5">Bachelor of Engineering(B.E.)-Electronics & Telecommunication
                                    Engineering(UnAided)
                                </option>
                                <option value="6">Management Studies</option>
                            </select>
                        </div>
                        <!-- Addmission Year input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="add_year">Addmission Year</label>
                            <input class="form-control" id="add_year" required type="date">
                        </div>
                        <!-- Result input -->
                        <div class="form-outline mb-4">
                            <label for="result">Result</label>
                            <select class="form-control" id="result">
                                <option value="0">--Select--</option>
                                <option value="1">Passed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Completed/Pursuing input -->
                        <div class="form-outline mb-4">
                            <label for="completed">Completed</label>
                            <select class="form-control" id="completed">
                                <option value="0">--Select--</option>
                                <option value="1">Completed</option>
                                <option value="2">Pursuing</option>
                            </select>
                        </div>
                        <!-- Institute Taluka input -->
                        <div class="form-outline mb-4">
                            <label for="taluka">Institute Taluka</label>
                            <select class="form-control" id="taluka">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <!-- Qualification Level input -->
                        <div class="form-outline mb-4">
                            <label for="board_uni">Board/University</label>
                            <select class="form-control" id="board_uni">
                                <option value="0">--Select--</option>
                                <option value="1">Maharashtra Board</option>
                                <option value="2">Mumbai University</option>
                            </select>
                        </div>
                        <!-- Passing Year input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="pass_year">Passing Year</label>
                            <input class="form-control" id="pass_year" required type="date">
                        </div>
                        <!-- Percentage/CGPA input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="cgpa">Percentage/CGPA</label>
                            <input class="form-control" id="cgpa" required type="text">
                        </div>
                    </div>
                </div>
                <!-- Upload Marksheet-->
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="marksheet">Upload Marksheet</label>
                        <input class="form-control" id="marksheet" type="file">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <!-- Save button -->
                        <button class="btn btn-primary btn-block" type="button">SAVE</button>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>

<div class="container" id="certificate">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Certificates</h3>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="cert_type">Type of Certificate</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="cert_type">
                            <option value="0">--Select--</option>
                            <option value="1">Gate Scorecard</option>
                            <option value="2">GRE Scorecard</option>
                            <option value="3">Admit Card</option>
                            <option value="4">Letter of Recommendation</option>
                            <option value="5">Internship Certificate</option>
                            <option value="6">Course Completion Certificate</option>
                            <option value="7">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="eve_name">Name of Event</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="eve_name" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="iss_auth">Issuing Authority of Event</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="iss_auth" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="eve_date">Date of Event</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="eve_date" type="date">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="describe">Describe Event</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="describe" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="cert_upload">Upload Certificate</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="cert_upload" type="file">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button class="btn btn-primary btn-block" type="button">ADD</button>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>


{% endblock %}

<!--Footer-->
<footer class="bg-light text-lg-start">

    <div>
        <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
            <footer>
                <div class="row my-5 justify-content-left py-5">
                    <img class="img-fluid footer_logo" src="{% static 'img/logo_vit2.png' %}">
                    <div class="col-11">
                        <div class="row ">
                            <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                                <h3 class="text-muted mb-md-0 mb-5 bold-text">Vidyalankar Institute of Technology is an
                                    Engineering & Management Institute approved by AICTE, New Delhi and Government of
                                    Maharashtra. The Institute is affiliated to University of Mumbai.</h3>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                <!--                         <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>-->
                                <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>MENU</b></h6>
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                </ul>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                                <p class="mb-1">Vidyalankar Institute of Technology,</p>
                                <p>Vidyalankar College Marg, Wadala(E), </p>
                                <p>Mumbai-400 037</p>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                                <p class="social text-muted mb-0 pb-0 bold-text"><span class="mx-2"><i
                                        aria-hidden="true" class="fa fa-facebook"></i></span> <span class="mx-2"><i
                                        aria-hidden="true" class="fa fa-linkedin-square"></i></span> <span class="mx-2"><i
                                        aria-hidden="true" class="fa fa-twitter"></i></span> <span class="mx-2"><i
                                        aria-hidden="true" class="fa fa-instagram"></i></span></p><small class="rights"><span>&#174;</span>
                                All Rights Reserved.</small>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                                <h6 class="text-muted bold-text"><b>PRANALI DAREKAR</b></h6><small> <span><i
                                    aria-hidden="true" class="fa fa-envelope"></i></span>
                                pranali.darekar@vit.edu.in</small>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end  ">
                                <h6 class="text-muted bold-text"><b>RIDDHI WARALE</b></h6><small><span><i
                                    aria-hidden="true" class="fa fa-envelope"></i></span>
                                riddhi.warale@vit.edu.in</small>
                            </div>
                            <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end  ">
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end  ">
                                <h6 class="text-muted bold-text"><b>VAISHNAVI LALAGE</b></h6><small><span><i
                                    aria-hidden="true" class="fa fa-envelope"></i></span>
                                vaishnavi.lalage@vit.edu.in</small>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="">StudentRepo@vit.edu.in</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->
</body>
</html>