{% extends 'base.html' %}
{% block content %}

<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Registration</h3><hr>
                <div class="row mb-4">
                    <div class="col">
                        <!-- Firstname input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="fullname" required type="text"/>
                            <label class="form-label" for="fullname">Full Name</label>
                        </div>
                        <!-- Rollno input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="rollno" required type="text">
                            <label class="form-label" for="rollno">Roll No:</label>
                        </div>
                        <!-- Email Input-->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="email" required type="email"/>
                            <label class="form-label" for="email">Email address</label>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="password" required type="password"/>
                            <label class="form-label" for="password">Password</label>
                            <div class="form-text" id="passwordHelp">
                                Your password must be 8-20 characters long, contain letters and numbers, and must not
                                contain spaces, special characters, or emoji.
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <!-- Branch input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="branch" required type="text"/>
                            <label class="form-label" for="fullname">Branch</label>
                        </div>
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="username" type="text"/>
                            <label class="form-label" for="username">Username</label>
                        </div>
                        <!-- Phone Number input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="mobileno" required type="text"/>
                            <label class="form-label" for="mobileno">Mobile No.</label>
                        </div>
                        <!-- Confirm Password input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="confirmpassword" required type="password"/>
                            <label class="form-label" for="confirmpassword">Confirm Password</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <a href="{%url 'login'%}">Already Registered?</a>
                </div>
                <!-- Submit button -->
                <button class="btn btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
