{% extends 'base.html' %}
{% block content %}

<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h3 class="text-center ">Registration</h3><hr>
                <div class="row mb-4">
                    <div class="col">
                        <!-- Firstname input -->
                        <div class="form-outline mb-4">
<!--                            {{form.full_name}}-->
                            <input class="form-control" type="text" name="full_name" maxlength="225" required="" id="id_full_name">
                            <label class="form-label" >Full Name</label>
                        </div>
                        <!-- Rollno input -->
                        <div class="form-outline mb-4">
<!--                            {{form.roll_no}}-->
                            <input class="form-control" type="text" name="roll_no" maxlength="225" required="" id="id_roll_no">
                            <label class="form-label" >Roll No</label>
                        </div>
                        <!-- Email Input-->
                        <div class="form-outline mb-4">
<!--                            {{form.email}}-->
                            <input class="form-control" type="email" name="email" maxlength="225" required="" id="id_email">
                            <label class="form-label" >Email address</label>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
<!--                            {{user_form.password1}}-->
                            <input class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                            <label class="form-label" >Password</label>
                            <div class="form-text" id="passwordHelp">
                                Your password must be 8-20 characters long, contain letters and numbers, and must not
                                contain spaces, special characters, or emoji.
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <!-- Branch input -->
                        <div class="form-outline mb-4">
<!--                            {{form.branch}}-->
                            <input class="form-control" type="text" name="branch" maxlength="225" required="" id="id_branch">
                            <label class="form-label" >Branch</label>
                        </div>
                        <!-- Username input -->
                        <div class="form-outline mb-4" id="name">
<!--                            {{user_form.username}}-->
                            <input class="form-control" type="text" name="username" placeholder="Username will be your Roll no" maxlength="150" autofocus="" required="" id="id_username">
                            <label class="form-label" >Username</label>
                        </div>
                        <!-- Phone Number input -->
                        <div class="form-outline mb-4">
<!--                                 {{form.mobile}}-->
                            <input class="form-control" type="text" name="mobile" maxlength="10" required="" id="id_mobile">
                            <label class="form-label" >Mobile No.</label>
                        </div>
                        <!-- Confirm Password input -->
                        <div class="form-outline mb-4">
<!--                            {{user_form.password2}}-->
                            <input class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                            <label class="form-label" >Confirm Password</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <a href="{%url 'login'%}">Already Registered?</a>
                </div>
                <!-- Submit button -->
                <button class="btn btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<script>
    $("input").addClass("form-control")
    var username = {{request.user.username}}
    const username=$("id_full_name").val()
    $("id_username").val()
</script>

{% endblock %}


