{% extends 'base.html' %}
{% block content %}
<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
  text-align: center;
    font-size: 2em  !important;
    margin-bottom: 20px;
  }
   th,td {
      color: #05053b;
      text-align: center;
      padding: 12px;
   }
   tr{
        text-align : center;
        color: #05053b;
   }
   .table-responsive{
    width: 100%
   }
 </style>
   <h3 class="text-center ">Generate Report</h3>
                            <hr>
                            <table class="table table-bordered  table-hover table-responsive" style="width:100%">
                                <tr style="background-color: lightgrey ;">
                                    <th >Qualification Level</th>
                                    <th>Stream</th>
                                    <th>Course</th>
                                    <th>Institute State</th>
                                    <th>Board/University</th>
                                    <th>Result</th>
                                    <th>Admission Year</th>
                                    <th>Passing Year</th>
                                    <th>Percentage/CGPA</th>

                                </tr>


                                <tr >
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            </table>

{% endblock %}